doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Tabify &dash; convert midi to tab online
    em
      span GitHub ~
      a(href='https://github.com/roelvanduijnhoven/tabify') roelvanduijnhoven/tabify
    div
        block content